* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.grey_background {
    background: #D9D9D9;
}

.green_background {
    background: #16C784;
}

.white_background {
    background: #FFFFFF;
}

.row_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

}

.column_list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.text_list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    padding: 0px;
    gap: 10px;

}

.space_between_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;


}

.bold_text {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-style: normal;

    letter-spacing: 0em;

    color: #000000;
}

.regular_text {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: normal;

    letter-spacing: 0em;

    color: #000000;
}

.grey_text {
    color: #757575;
}

.white_text {
    color: #FFFFFF;
}

.green_text {
    color: #00AE50;
}

.red_text {
    color: #FF1F00;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.main {
    display: grid;

    grid-template-columns: minmax(0, 1fr) minmax(0, 5fr);

    justify-items : stretch;
    align-items: stretch;

    padding: 10px;
    gap: 10px;

    max-width: 1400px;

    border: black solid 1px;

    flex: 1;

}

.user_portfolios {
    display: flex;
    flex-direction: column;
    gap: 20px;

    border: black solid 1px;

}

.portfolio {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;

    border: black solid 1px;
}

.portfolios_container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;

    border: black solid 1px;
}

.user_portfolio_reference {
    display: flex;
    flex-direction: row;

    padding: 10px;
    gap: 10px;
}

.portfolio_reference_text {
    display: inline-block;

    font-family: Ubuntu;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;

    flex: 1;

}

.portfolio_reference_text_cost {

    font-family: Ubuntu;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0em;

    flex: 1;

}

.add_portfolio_button {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;

    border-top: 1px solid #000000;

    flex: 1;
}

.active_info_container {

}

/* < информация о активе */
.active_info {
    padding: 10px;
    gap: 10px;
}

/* <- контейнер с текстом о активе */
.active_cost_container {
    padding: 10px;
    gap: 10px;
}

/* <-- контейнер с текущей стоимостью актива */
.active_cost {
    padding: 0px;
    gap: 10px;
}

/* <--- стоимость актива */
.active_cost_text {
    font-size: 34px;
    line-height: 39px;
}

/* >--- стоимость актива */

/* <--- изменение стоимости актива */
.active_change_percent_container {
    align-items: center;

    border-radius: 10px;

    padding: 5px;
    gap: 10px;
}

.active_change_percent_status {
    display: inline-block;
}

.active_change_percent_text {
    font-size: 24px;
    line-height: 28px;
}

/* >--- изменение стоимости актива */

/* >-- контейнер с текстом стоимости актива */

/* <-- контейнер с изменением стоимости актива */
.active_change_cost_container {
    padding: 0px;
    gap: 10px;
}

.active_change_cost_text {
    font-size: 24px;
    line-height: 28px;
}

.active_change_cost_time_interval_container {
    align-items: center;
}

.active_change_cost_time_interval_text {
    font-size: 16px;
    line-height: 18px;

    border-radius: 5px;
    padding: 5px;
}

/* >-- контейнер с изменением стоимости актива */

/* >- контейнер с текстом о активе */

/* <- контейнер с кнопкой добавления актива */
.button_active_add {
    padding: 8px 30px;
    gap: 10px;

    background: #2260FF;
    border-radius: 10px;
}

.button_active_add_icon {
    align-items: center;
    padding: 5px;
}

.button_active_add_text {
    font-size: 22px;
    line-height: 24px;
}

/* >- контейнер с кнопкой добавления актива */
/* > информация о активе */

/* < контроль графика */
.graph_control {

}

.graph_type {
    padding: 5px;
    gap: 10px;
    border-radius: 10px;
}

.graph_type_option {
    padding: 4px 10px;
    border-radius: 5px;

    font-size: 22px;
    line-height: 24px;
}

.graph_view_interval {
    padding: 5px;
    gap: 10px;
    border-radius: 10px;
}

.graph_view_interval_option {
    padding: 4px 10px;
    border-radius: 5px;

    font-size: 22px;
    line-height: 24px;
}

/* > контроль графика */
.graph {

}

.graph_img {
    height: 300px;
    background: rgba(0,213,226,0.2);
}

/* > сетка с данными активов */

.actives_grid {
    display: grid;

    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

    justify-items : stretch;
    align-items: stretch;

    padding: 10px;

    row-gap:  10px;

    max-width: 1400px;

    border: black solid 1px;
}

.grid_header {
    font-size: 21px;
    line-height: 24px;

    text-align: right;
}
.grid_header:first-of-type {

    text-align: left;

}

.grid_first_column {
    padding: 10px;
    gap: 7px;

    justify-content: flex-start;
    align-content: center;
    align-items: center;


    font-size: 21px;
    line-height: 24px;
}

.grid_box {
    min-height: 70px;
    max-height: 100px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    padding: 10px;
    gap: 7px;


    font-size: 21px;
    line-height: 24px;

}

.grid_column_box {
    justify-content: center;

    align-items: flex-end;
}

/* < сетка с данными активов */
