<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Viga&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="mainlogo">
    <div class="logovalue">
      <div class="logoimg"></div><span class="textlogo">CRYPTO TRACKER</span>
    </div>
    <div class="infous">
      <span class="textinfo">Информация о нас<br/>Номера телефонов<br/>Ссылки на инструкции<br/>Почта для связи</span>
    </div>
  </div>
</body>

</html>
