* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.mainline {
    width: 100%;
    height: 96px;
    background: linear-gradient(rgba(241,250,255,1), rgba(250,254,254,1));
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.logovalue {
    width: 295px;
    height: 59px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    opacity: 1;
    position: absolute;
    top: 18px;
    left: 19px;
    overflow: hidden;
}

.logoimg {
    width: 59px;
    height: 59px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.textlogo {
    width: 216px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 12px;
    left: 79px;
    font-family: "Viga";
    font-weight: normal;
    font-size: 26px;
    opacity: 1;
    text-align: left;
}

.infous {
    width: 190px;
    height: 96px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10 0;
    margin: 20px;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 1710px;
    overflow: hidden;
}

.textinfo {
    width: 180px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 0;
    font-family: "Inter";
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: right;
}

.main {
    min-height: calc(100vh - 210px);
}

@media screen and (max-width: 770px) {
    .main {
        min-height: calc(100vh - 170px);
    }
}
