<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Viga&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
</head>
<body>
<div class="big_backgr">
  <div class="tracker_logo">
    <div class="text_logo_1">
      <div class="text_logo_2"></div><span class="text_logo_3">CRYPTO TRACKER</span>
    </div>
    <div class="text_lang_curr">
      <div class="text_lang_2"><span class="text_lang_3">Русский</span>
        <div class="name"></div>
      </div>
      <div class="text_curr_1"><span class="text_curr_2">Валюта $</span>
        <div class="currency"></div>
      </div>
      <div class="portfel"><div class="v125_122"></div></div>
      <div class="star"><div class="name"></div></div>
      <div class="panel_menu"><div class="v125_126"></div></div>
    </div>
  </div>
  <div class="panel_text">
    <div class="crypto"><span class="v125_129">Криптовалюты:</span><span class="cryptovalue">21 434</span></div>
    <div class="exchangeplace"><span class="v125_132">Биржи:</span><span class="exchangevalue">527</span></div>
    <div class="marketcap"><span class="v125_135">Рыночная капитализация:</span>
      <span class="marketcapvalue">$913 528 974 940,087</span></div>
    <div class="volume24"><span class="v125_138">Объем за 24ч:</span>
      <span class="volume24value">$45 396 808 219,34</span></div>
    <div class="domination"><span class="v125_141">Доминирование:</span>
      <span class="dominationvalue">BTC: 40.0% ETH: 17.2%</span></div>
    <div class="search">
      <div class="textsearch"></div><span class="v125_145">Search</span>
      <div class="v125_146"></div>
    </div>
  </div>
</div>
</body>
</html>
