.big_background {
  width: 100%;
  height: 104px;
  background: linear-gradient(rgba(241,250,255,1), rgba(255,255,255,1));
}

.tracker_logo {
  width: 100%;
  height: 70px;
}

.text_logo_1 {
  background-size: cover;
  margin: 20px;
}

.text_logo_2 {
  background-size: cover;
}

.text_logo_3 {
  color: rgba(0,0,0,1);
  font-size: 26px;
  font-family: 'Viga', sans-serif;
  font-weight: normal;
  text-align: left;
}

.text_lang_curr {
  background-size: cover;
  margin: 20px;
}

.text_lang_2 {
  background-size: cover;
  margin: 10px;
}

.text_lang_3 {
  width: 91px;
  color: rgba(0,0,0,1);
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.text_curr_1{
  background-size: cover;
  margin: 10px;

}

.text_curr_2 {
  width: 110px;
  color: rgba(0,0,0,1);
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 24px;
  text-align: right;
}

.portfolio {
  width: 50px;
  height: 50px;
  background-size: cover;
  margin: 10px;
}

.v125_122 {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.star {
  width: 65px;
  height: 65px;
  background-size: cover;
  margin: 10px;
}

.panel_menu {
  width: 70px;
  height: 70px;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
}

.v125_126 {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.panel_text {
  width: 100%;
  height: 34px;
  background: rgba(225,245,255,1);
  padding: 5px 0;
  margin: 10px;
}

.crypto {
  width: 250px;
  height: 23px;
  background-size: cover;
  margin: 10px;
}

.v125_129 {
  width: 158px;
  color: rgba(24,74,110,1);
  font-family: Ubuntu, sans-serif;
  font-weight: Bold;
  font-size: 20px;
}

.crypto-value {
  width: 62px;
  color: rgba(26,137,172,1);
  font-family: Ubuntu, sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.exchange-place {
  width: 137px;
  height: 23px;
  background-size: cover;
  margin: 10px;
}

.v125_132 {
  width: 72px;
  color: rgba(24,74,110,1);
  font-family: Ubuntu, sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.exchange-value {
  width: 35px;
  color: rgba(26,137,172,1);
  font-family: Ubuntu, sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.market-cap {
  background-size: cover;
  margin: 10px;
}

.v125_135 {
  color: rgba(24,74,110,1);
  font-family: Ubuntu, sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.market-cap-value {
  color: rgba(26,137,172,1);
  font-family: Ubuntu, sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.volume24 {
  background-size: cover;
  margin: 10px;
}

.v125_138 {
  color: rgba(24,74,110,1);
  font-family: Ubuntu, sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.volume24value {
  color: rgba(26,137,172,1);
  font-family: Ubuntu, sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.domination {
  background-size: cover;
  margin: 10px;
  overflow: hidden;
}

.v125_141 {
  color: rgba(24,74,110,1);
  font-family: Ubuntu, sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.domination-value {
  width: 217px;
  color: rgba(26,137,172,1);
  font-family: Ubuntu, sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.search {
  width: 223px;
  height: 24px;
  background: rgba(217,217,217,1);
  padding: 5px 5px;
  margin: 5px;
}

.textsearch {
  width: 13px;
  height: 13px;
  background-size: cover;
}

.v125_145 {
  color: rgba(146,146,146,1);
  font-family: Ubuntu, sans-serif;
  font-weight: normal;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v125_146 {
  width: 135px;
  height: 14px;
  background-size: cover;
}
