* {
  box-sizing: border-box;
}

body{
  font-size: 14px;
}

.name, .currency {
  color: #fff;
}

.big_backgr {
  width: 100%;
  height: 104px;
  background: linear-gradient(rgba(241,250,255,1), rgba(255,255,255,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.tracker_logo {
  width: 100%;
  height: 70px;
  background: url("../../icons/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.text_logo_1 {
  width: 295px;
  height: 59px;
  background: url("../../icons/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 30px;
  overflow: hidden;
}

.text_logo_2 {
  width: 59px;
  height: 59px;
  background: url("../../icons/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.text_logo_3 {
  width: 216px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 79px;
  font-size: 26px;
  font-family: 'Viga';
  font-weight: normal;
  opacity: 1;
  text-align: left;
}

.text_lang_curr {
  width: 556px;
  height: 70px;
  background: url("../images/v125_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1354px;
  overflow: hidden;
}

.text_lang_2 {
  width: 141px;
  height: 28px;
  background: url("../images/v125_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 0px;
  overflow: hidden;
}

.text_lang_3 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: 'Ubuntu', serif;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.text_curr_1{
  width: 150px;
  height: 29px;
  background: url("");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;

}

.text_curr_2 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.portfel {
  width: 50px;
  height: 50px;
  background: url("../images/v125_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 331px;
  overflow: hidden;
}
.v125_122 {
  width: 50px;
  height: 50px;
  background: url("../images/v125_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.star {
  width: 65px;
  height: 65px;
  background: url("../images/v125_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 401px;
  overflow: hidden;
}
.panel_menu {
  width: 70px;
  height: 70px;
  background: url("../images/v125_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 486px;
  overflow: hidden;
}
.v125_126 {
  width: 50px;
  height: 50px;
  background: url("../images/v125_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.panel_text {
  width: 100%;
  height: 34px;
  background: rgba(225,245,255,1);
  padding: 5px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.crypto {
  width: 250px;
  height: 23px;
  background: url("../images/v125_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v125_129 {
  width: 158px;
  color: rgba(24,74,110,1);
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.cryptovalue {
  width: 62px;
  color: rgba(26,137,172,1);
  position: absolute;
  top: 0px;
  left: 178px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.exchangeplace {
  width: 137px;
  height: 23px;
  background: url("../images/v125_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 260px;
  overflow: hidden;
}
.v125_132 {
  width: 72px;
  color: rgba(24,74,110,1);
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.exchangevalue {
  width: 35px;
  color: rgba(26,137,172,1);
  position: absolute;
  top: 0px;
  left: 92px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.marketcap {
  width: 492px;
  height: 23px;
  background: url("../images/v125_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 407px;
  overflow: hidden;
}
.v125_135 {
  width: 260px;
  color: rgba(24,74,110,1);
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.marketcapvalue {
  width: 202px;
  color: rgba(26,137,172,1);
  position: absolute;
  top: 0px;
  left: 280px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.volume24 {
  width: 347px;
  height: 23px;
  background: url("../images/v125_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 909px;
  overflow: hidden;
}
.v125_138 {
  width: 138px;
  color: rgba(24,74,110,1);
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.volume24value {
  width: 179px;
  color: rgba(26,137,172,1);
  position: absolute;
  top: 0px;
  left: 158px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.domination {
  width: 416px;
  height: 23px;
  background: url("../images/v125_140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 1266px;
  overflow: hidden;
}
.v125_141 {
  width: 169px;
  color: rgba(24,74,110,1);
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.dominationvalue {
  width: 217px;
  color: rgba(26,137,172,1);
  position: absolute;
  top: 0px;
  left: 189px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.search {
  width: 223px;
  height: 24px;
  background: rgba(217,217,217,1);
  padding: 5px 5px;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 1692px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.textsearch {
  width: 13px;
  height: 13px;
  background: url("../images/v125_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
}
.v125_145 {
  width: 55px;
  color: rgba(146,146,146,1);
  position: absolute;
  top: 5px;
  left: 23px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v125_146 {
  width: 135px;
  height: 14px;
  background: url("../images/v125_146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 83px;
  overflow: hidden;
}

.main {
  min-height: calc(100vh - 210px);
}


@media screen and (max-width: 770px) {
  .main {
    min-height: calc(100vh - 170px);
  }
}
